<html lang="en">
  <head>
    <% include ./partials/_head%>
  </head>
  <body style="font-size:15px; padding:10px;">
    <header>
      <% include ./partials/navbar%>
    </header>
    <p style="padding-left: 10px"> Current long url: <%=  fullUrl.longUrl %> </p>
    <p style="padding-left: 10px"> Current short url: <%=  shortUrl %> </p>
    <p style="padding-left: 10px"> <a href ="/u/<%=shortUrl%>"> Visit <%=fullUrl.longUrl%> </a> </p>
    <form style="padding-left: 10px" action="/urls/<%= shortUrl %>/update?_method=PUT"" method="POST">
    <input name="updateURL" value="">
    <input type="submit" value="Update!">
    </form>
    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>
  </body>
</html>