<!DOCTYPE html>

<html lang="en">
  <head>
    <% include ./partials/_head%>
  </head>

  <header> <% include ./partials/_header %> </header>

  <body>
    <h2>List of Urls </h2>
    <% for (var key in urls) { %>
      <li>
        <b> Short URL: </b> <a href = "/urls/<%= key %>"> <%= key %> </a>
        <b> Long URL: </b> <%=  urls[key] %> <a href="/urls/<%= key %>"> Edit Link </a>
        <form method="POST" action="/urls/<%= key%>/delete">
          <input type ="submit" value="Delete">
        </form>
      </li>
    <% } %>
    <p>

    </p>
    <a href = "/urls/new"> Shorten a New URL!!! </a>

    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>

  </body>
</html>