<!DOCTYPE html>

<html lang="en">
  <head>
    <% include ./partials/_head%>
  </head>

  <header> <% include ./partials/_header %> </header>

  <body>
    <h2>List of Urls </h2>
    <% for (var url of urls) { %>
      <li>
        <b> Short URL: </b> <a href = "/urls/<%= url.shortUrl %>"> <%= url.shortUrl %> </a>
        <b> Long URL: </b> <%=  url.longUrl %> <a href="/urls/<%= url.shortUrl %>"> Edit Link </a>
        <form method="POST" action="/urls/<%= url.shortUrl%>/delete">
          <input type ="submit" value="Delete">
        </form>
      </li>
    <% } %>
    <p>

    </p>

    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>

  </body>
</html>