<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head%>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>

  <body>
    <h2>List of Urls </h2>
        <% for (var key in urls) { %>
    <li> <b> Short URL: </b> <a href = "/urls/<%= key %>"> <%= key %> </a> <b> Long URL: </b> <%=  urls[key] %> <a href="/urls/<%= key %>"> Edit Link </a> </li>

    <form method="POST" action="/urls/<%= key%>/delete">
      <button type ="submit"> Delete!<img src ="https://openclipart.org/download/226230/trash.svg" width = "8" height = "10"></button>
    </form>

    <% } %>
    <p>

    </p>
    <a href = "/urls/new"> Shorten a New URL!!! </a>

    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>

  </body>
</html>